{% extends "header.html" %}
{% block content %}
    <div id="home" class="py-8">
        {% include "home.html" %}
    </div>

    <div id="about" class="py-8">
        {% include "about.html" %}
    </div>

    <div id="services" class="py-8">
        {% include "services.html" %}
    </div>
    
    <div id="partners" class="py-8">
        {% include "partners.html" %}
    </div>
    
    <div id="news" class="py-8">
        {% include "news.html" %}
    </div>
    
    <div id="support" class="py-8">
        {% include "support.html" %}
    </div>
    
    <div id="contact" class="py-8">
        {% include "contact.html" %}
    </div>
{% endblock %}
